BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never

# Braces
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true

# Indentation & Alignment
ColumnLimit: 100
ContinuationIndentWidth: 4
AlignAfterOpenBracket: Align
AlignOperands: true
AlignTrailingComments: true

# Includes
SortIncludes: true
IncludeBlocks: Regroup

# Spaces
SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInContainerLiterals: false

# C++ Specific
Standard: Cpp11
DerivePointerAlignment: false
PointerAlignment: Left
